@model Guandian.Data.Entity.News
@{
    ViewData["Title"] = Model.Title;
}
<head>
    <style>
        .content {
            font-size: 16px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }

            .content img {
                max-width: 100%;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 16px;
                display: block;
            }
    </style>

    <meta />
</head>
<div class="container p-0">
    <div class="col-md-10 offset-md-1">
        <h2 class="mt-3" style="font-family:segoe UI semibold">@Model.Title</h2>
        <div class="text-muted ">
            <span class="byline-name ">
                @Model.Provider
            </span>
            <span class="dateline">
                @Model.CreatedTime
            </span>
            <span class="text-primary">
                &nbsp;&nbsp;
                <a href="@Model.Url">原文</a>
            </span>
        </div>
        <hr />
        <div class="content p-0">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            // edge浏览器 打开阅读模式
            if (navigator.userAgent.indexOf("Edge") > -1) {
                location.href = "read:" + location.href;
            }
        });

    </script>
}
