@model Guandian.Data.Entity.News

@{
    ViewData["Title"] = "Details";
}

<div class="">
    <h4>
        @Html.DisplayFor(model => model.Title)
    </h4>
    <hr />
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">编辑</a> |
        <a asp-action="Index">返回</a>
    </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThumbnailUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThumbnailUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Provider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Provider)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.Raw(Model.Content)
        </dd>

    </dl>
</div>
