@model IEnumerable<Guandian.Data.Entity.News>
@{
    ViewData["Title"] = "资讯";
}

<table class="table">
    <thead>
        <tr>
            <th>
                标题
            </th>
            <th>
                来源
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                状态
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                    @if (string.IsNullOrEmpty(item.Content))
                    {
                        <span class="badge-danger badge">
                            失
                        </span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider)
                </td>
                <td>
                    @item.CreatedTime.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td>
                    <span class="badge-secondary">
                        @Html.DisplayFor(modelItem => item.Status)
                    </span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-success">编</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger">删</a> | 
                    @if (item.Status != Status.Obsolete)
                    {
                       <a asp-action="Obsolete" asp-route-id="@item.Id" class="text-warning">废</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <p class="text-right">
            @{
                var nextPage = ViewBag.Page + 1;
                var prePage = ViewBag.Page > 2 ? ViewBag.Page - 1 : 1;
            }
            <a href="http://@Context.Request.Host/admin/news?page=@prePage">上一页</a>
            <a href="http://@Context.Request.Host/admin/news?page=@nextPage">下一页</a>
        </p>
    </div>
</div>
