@model IEnumerable<Guandian.Data.Entity.News>
@{
    ViewData["Title"] = "资讯";
}

<table class="table">
    <thead>
        <tr>
            <th>
                标题
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                来源
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                更新时间
            </th>
            <th>
                状态
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">编辑</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">详情</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <p class="text-right">
            @{
                var nextPage = ViewBag.Page + 1;
                var prePage = ViewBag.Page > 2 ? ViewBag.Page - 1 : 1;
            }
            <a href="http://@Context.Request.Host/admin/news?page=@prePage">上一页</a>
            <a href="http://@Context.Request.Host/admin/news?page=@nextPage">下一页</a>
        </p>
    </div>
</div>
