@using System.Web;
@{
    ViewData["Title"] = "主页";
}
@model NewsListViewModel


<div class="row">
    <div class="col-md-8 offset-md-2 p-0">
        <div class="p-2 my-1">
            <span class="text-muted">说明：本站资讯皆来自必应新闻接口，详情页只是对原内容做阅读适配展现！</span>
        </div>
        @foreach (var bingNews in Model.NewsList)
        {
            var Url = HttpUtility.ParseQueryString(new Uri(bingNews.Url).Query);
            <div class="row news-list bg-white mb-2 p-1">
                <div class="col-md-auto d-md-flex d-none mt-2">
                    <a asp-controller="news" asp-action="detail" asp-route-id="@bingNews.Id" target="_blank">
                        <img class="bingnews img-thumbnail" src="@bingNews.ThumbnailUrl" alt="">
                    </a>
                </div>
                <div class="content col-md-8">
                    <div class="news-title">
                        <a asp-controller="news" asp-action="detail" asp-route-id="@bingNews.Id" target="_blank">
                            @bingNews.Title
                        </a>
                    </div>
                    <div class="news-sectitle">
                        @bingNews.UpdatedTime.ToString("MM-dd H:mm") @bingNews.Provider
                    </div>
                    <div class="news-description col-md-10 p-0">
                        @bingNews.Description
                    </div>
                </div>
            </div>
        }
    </div>
</div>

