@model Guandian.Areas.Admin.Models.FileNodesView
@{
    ViewData["Title"] = "目录管理";
    var path = Model.Path;
    var fileNodes = Model.FileNodes;
}

<div class="row">
    <nav aria-label="breadcrumb" class="col-md-12">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a asp-route-id="">践识</a>
            </li>
            @foreach (var item in path)
            {
                <li class="breadcrumb-item">
                    <a asp-route-id="@item.Id">@item.FileName</a>
                </li>
            }

        </ol>
    </nav>
</div>
<div class="row">
    <div class="col col-auto" style="min-width:200px;border-right:1px solid #ddd">
        <ul class="nav flex-column">
            @* 当前列表 *@
            @foreach (var item in fileNodes)
            {
                <li class="nav-item">
                    @if (!item.IsFile)
                    {
                        <div class="nav-link">
                            <a asp-route-id="@item.Id">
                                <span>[+]</span>
                                @item.FileName
                            </a>
                            &nbsp;&nbsp;
                            <span class="badge badge-warning editFileNode"
                                  data-id="@item.Id"
                                  data-title="@item.FileName"
                                  data-content="@item.ReadmeContent">
                                更新
                            </span>
                        </div>
                    }
                    else
                    {
                        // TODO: 跳转到详情页
                        <div class="nav-link">
                            <a asp-route-id="@item.Id">
                                @item.FileName
                            </a>
                        </div>
                    }
                </li>
            }
        </ul>

    </div>
    <div class="col">
        <div class="actions my-2">
            <button class="btn btn-sm btn-outline-primary" id="newFileNode">+ 新建目录</button>
        </div>
        @* 添加表单 *@
        <form asp-action="AddFileNode" class="my-2" id="addFileNodeForm" style="display:none">
            <input type="hidden" name="id" value="@TempData["id"]" />
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="新建目录名称" />
            </div>
            <div class="form-group">
                <div id="addSection"></div>
                <textarea name="content" style="display:none" id="content"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-sm btn-primary" id="addFileNode">添加</button>
            </div>
        </form>
        @* 更新表单 *@
        <form asp-action="UpdateFileNode" id="editFileNodeForm" style="display:none">
            <input type="hidden" name="id" value="" />
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="目录名称" disabled />
            </div>
            <div class="form-group">
                <div id="editSection"></div>
                <textarea name="content" style="display:none" id="editContent"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-sm btn-primary" id="updateFileNode">更新</button>
            </div>
        </form>
    </div>
</div>

<header>
    <link href="~/lib/codemirror/lib/codemirror.css" rel="stylesheet" />
    <link href="~/lib/highlightjs/styles/github-gist.css" rel="stylesheet" />
    <link href="~/lib/tui-editor/dist/tui-editor.css" rel="stylesheet" />
    <link href="~/lib/tui-editor/dist/tui-editor-contents.css" rel="stylesheet" />
</header>

@section Scripts{
    <script src='~/lib/markdown-it/dist/markdown-it.js'></script>
    <script src="~/lib/to-mark/dist/to-mark.js"></script>
    <script src="~/lib/tui-code-snippet/dist/tui-code-snippet.js"></script>
    <script src="~/lib/codemirror/lib/codemirror.js"></script>
    <script src="~/lib/highlightjs/highlight.pack.js"></script>
    <script src="~/lib/squire-rte/build/squire-raw.js"></script>
    <script src="~/lib/tui-editor/dist/tui-editor-Editor.min.js"></script>

    <script>
        // 添加文本框及提交事件
        var addEditor = new tui.Editor({
            el: document.querySelector('#addSection'),
            initialEditType: 'markdown',
            initialValue: '填写Readme信息',
            previewStyle: 'vertical',
            height: '600px',
        });
        $("#addFileNode").click(function (event) {
            event.preventDefault();
            var content = addEditor.getMarkdown();
            $("#content").val(content);
            $("#addFileNodeForm").submit();
        });

        // 修改文本框及提交事件
        var editEditor = new tui.Editor({
            el: document.querySelector('#editSection'),
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            height: '600px',
        });
        $("#updateFileNode").click(function (event) {
            event.preventDefault();
            var content = editEditor.getMarkdown();
            $("#editContent").val(content);
            $("#editFileNodeForm").submit();
        });

        // 修改交互
        $(".editFileNode").click(function (event) {
            $(".actions").show();
            $("#addFileNodeForm").hide();
            let form = $("#editFileNodeForm");
            // 填充值
            let id = $(this).data('id');
            let title = $(this).data('title');
            let content = $(this).data('content');
            form.find("input[name='id']").val(id);
            form.find("input[name='name']").val(title);
            form.find("textarea[name='content']").val(content);
            editEditor.setMarkdown(content, true);
            form.css("display", "");
        });
        // 新建目录交互
        $("#newFileNode").click(function (event) {
            $(".actions").hide();
            $("#editFileNodeForm").hide();
            let form = $("#addFileNodeForm");
            form.css("display", "");
        });
    </script>
}