@model Comment.Data.Entity.News
@{
    ViewData["Title"] = Model.Title;
}
<head>
    <link href="file:/ms-appx-web:\\\assets\ReadingView\css\StyleNormalPRV.css" rel="stylesheet">
    <link href="file:/ms-appx-web:\\\assets\ReadingView\css\BaseStylePRV.css" rel="stylesheet">
    <link href="file:/ms-appx-web:\\\assets\ReadingView\css\BaseFontSizePRV.css" rel="stylesheet">
    <style>
        .content {
            font-size: 16px;
        }

            .content img {
                max-width: 100%;
                text-align: center;
                margin: 0 auto;
                display: block;
                margin-bottom: 16px;
            }
    </style>
</head>
<div class="container p-0">
    <h2 class="mt-3">@Model.Title</h2>
    <div class="text-muted ">
        <span>
            @Model.Provider @Model.CreatedTime
        </span>
        <span class="text-primary">
            &nbsp;&nbsp;
            <a href="@Model.Url">原文</a>
        </span>
    </div>
    <hr />
    <div class="content p-0">
        @Html.Raw(Model.Content)
    </div>
</div>
@section Scripts{
    <script>
    $(document).ready(function () {
        // edge浏览器 打开阅读模式
        if (navigator.userAgent.indexOf("Edge") > -1) {
            location.href = "read:" + location.href;
        }
    });

    </script>
}
