@model IEnumerable<Guandian.Data.Entity.Blog>
@{
    ViewData["Title"] = "文章";
}
<table class="table">
    <thead>
        <tr>
            <th>
                标题
            </th>
            <th>
                作者
            </th>
            <th>
                更新时间
            </th>
            <th>
                状态
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" target="_blank">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedTime)
                </td>
                <td>
                    @if ((item.IsPublishMP))
                    {

                        <span class="badge badge-success">推</span>
                    }
                    @if (item.Status == Guandian.Data.Entity.Status.Obsolete)
                    {
                        <span class="badge badge-dark">废</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">编</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger">删</a> |
                    <a asp-action="Obsolete" asp-route-id="@item.Id" class="text-warning">废</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <p class="text-right">
            @{
                var nextPage = ViewBag.Page + 1;
                var prePage = ViewBag.Page > 2 ? ViewBag.Page - 1 : 1;
            }
            <a href="http://@Context.Request.Host/admin/articles?page=@prePage">上一页</a>
            <a href="http://@Context.Request.Host/admin/articles?page=@nextPage">下一页</a>
        </p>
    </div>
</div>
